body {
  justify-content: center;
  background-color: #9b4cdb;
  background: linear-gradient(to bottom right, #a098c2, #f6bd74);
  background-repeat: no-repeat;
  background-size: 100%;
}

.mainContainer {
  width: 100%;
  height: 100vh;
}

.todoList {
  font-family: Arial, Helvetica, sans-serif;
}

.input-group {
  width: 350px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.taskName {
  color: black;
}

.deleteBtn {
  background-color: transparent;
  color: black;
  border: 1px solid red;
  border-radius: 5px;
}

.deleteBtn:hover {
  background-color: red;
  color: #dcb4f4;
}

.todoItemsContainer {
  margin-right: 25px;
  display: flex;
  justify-content: center;
}

.todoItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dcb4f4;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  padding: 8px 20px;
  margin-bottom: 5px;
  list-style-type: none;
}

.todoItems:hover {
  background-color: #a3c024;
  border-color: black;
  transform: scale(1.15);
  z-index: 2;
}
